﻿@model HomeCarePill.Models.AnalyserPeriodViewModel

<script src="~/Scripts/loader.js"></script>
<script src="~/Scripts/analyser.js"></script>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Please, select the period (start and end date) to monitor the results.</p>

<div class="row">
    <div class="col-md-8">

        <div class="form-group inline-float margin-check">
            @Html.LabelFor(m => m.StartDate)
            <div>
                @Html.EditorFor(m => m.StartDate)
            </div>
        </div>
        <div class="form-group inline-float margin-check">
            @Html.LabelFor(m => m.EndDate)
            <div>
                @Html.EditorFor(m => m.EndDate)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Button", new { @Style = "color: white;" })
            <div>
                <input id="search" type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
</div>

<p class="text-danger" id="error-message"></p>

<div id="chart_div">

</div>

