﻿<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rodovia Dom Pedro I, Km 136, s/n - Parque das Universidades, Campinas - SP, 13086-900, Brazil.
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:homecarepill@gmail.com">homecarepill@gmail.com</a>
</address>