﻿@model HomeCarePill.Models.DrugViewModel
@{ 
    ViewBag.Title = "Drug";
    ViewBag.Message = "Search and register new drug.";
}

<script src="~/scripts/drug.js"></script>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Type a part of drug name and click on 'Search' to find on the system.</p>
<p>To add a new drug on system, type the name on 'Drug Name' field and click on 'Add' button.</p>

<p class="text-danger" id="error-message"></p>

@using (Html.BeginForm("FindDrug", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-10" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "drugName" })
        </div>
    </div>
    <div class="drug-search">
        <input type="submit" class="btn btn-default" value="Search" />
    </div>
}

<div>
    <input id="addDrug" type="submit" value="Add" class="btn btn-default" />
</div>

<div class="table-drug">
    @if (Model.DrugsName != null && Model.DrugsName.Any())
    {
        <table>
            <tr>
                <th>Drug(s) name(s):</th>
            </tr>
            @foreach (var drug in Model.DrugsName)
            {
                <tr>
                    <td>@drug</td>
                </tr>
            }
        </table>
    }
    else if(Model.DrugsName != null)
    {
        <p class="text-danger">Nothing was found on system with [@Model.Name] part name.</p>
    }
</div>

