﻿@{
    ViewBag.Title = "Home Page";
}

<div class="thumbnail">
    <img src="~/Images/slide1.jpg" />
</div>

<div class="row">
    <div class="col-md-4">
        <div>
            <img class="minilogo" src="~/Images/Internet.png" />
            <h2>Easy and secure access</h2>
        </div>
        <p>
            You want to be able to access anywhere and everywhere if needed? You will have easy and secure access where ever you are and internet is available. You can now manage and analyse completely yours relatives without ever going to specific places.
        </p>
    </div>
    <div class="col-md-4">
        <div>
            <img class="minilogo" src="~/Images/slide4.jpg" />
            <h2>Quality of life for everyone</h2>
        </div>
        <p>
            We provide health and wellness advice based on quality of life whice our system gives to everyone involve in the process.
        </p>
    </div>
    <div class="col-md-4">
        <div>
            <img class="minilogo" src="~/Images/notification.jpg" />
            <h2>System notification notifying everyone</h2>
        </div>
        <p>
            The notification system should be the tool that helps you to communicate more effectively with yours relatives and to optimize your engagement.
        </p>
    </div>
</div>