﻿@model List<HomeCarePill.Models.SchedulerViewModel>

<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/scripts/scheduler.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<hr />
<div class="row">
    <div class="col-md-8">

        <p class="text-danger" id="error-message"></p>

        @for(int i = 0; i < 6; i++)
        {
            <div class="form-group inline-float margin-check">
                @Html.Label("Slot " + (i+1).ToString() + ":")
                <div>
                    @Html.EditorFor(m => m[i].Date)
                </div>
            </div>
            <div class="form-group inline-float margin-check">
                @Html.LabelFor(m => m[i].Time)
                <div>
                    @Html.EditorFor(m => m[i].Time)
                </div>
            </div>
            <div class="form-group inline-float margin-check">
                @Html.LabelFor(m => m[i].Status)
                <div>
                    @Html.TextBoxFor(m => m[i].Status, new { @disabled = "disabled" })
                </div>
            </div>
            <div class="form-group margin-check">
                @Html.LabelFor(m => m[i].Drugs)
                <div>
                    @Html.DropDownListFor(m => m[i].SelectedDrug, Model[i].Drugs, new { @id = "dropdown"+i})
                </div>
            </div>

            <br />
        }

        <div class="form-group">
            <input id="saveChanges" type="submit" value="Save configurations" class="btn btn-default" />
        </div>

    </div>
</div>